[user]
	email = herespier@yahoo.com
	name = ndvisme
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[alias]
  p = push
  st = status -sb
  ll = log --oneline
  cm = commit -m
  ac = !git add . && git commit -m
  acp = "!f() { git add . && git commit -m \"$@\" && git push; }; f"
  fs = "!f() {git fetch origin \"$1\" && git switch \"$1\"; }; f"
